.buttonInfo {
    height: 90px;
    padding: 12px 12px 12px 92px;
    margin-left: 6px;
    margin-top: 6px;
    border-top: 6px solid #FFF;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 3px rgba(255, 0, 0, 0.7);
	text-decoration: none;
    width: 350px;
    cursor: pointer;
}

.buttonInfo:after {
    content: '';
    left: 20px;
    top: 50%;
    margin-top: -35px;
    width: 100px;
    height: 100px;
}
.buttonInfo:before {
    content: '';
    left: 20px;
    top: 50%;
    margin-top: -35px;
}
.buttonInfo-title {
    font-size: 14px;
    font-weight: 600;
	justify: center;
    color: #2C2C2C;
    display: block;
    padding-bottom: 5px;
    padding-left: 20px;

}
.buttonInfo-desc {
    color: #999;
    font-size: 11px;
	font: arial;
    padding-left: 20px;
}


.buttonInfo.cabinet:after {
    background: url(../images/ubi/cabinet.png) no-repeat;
}

.buttonInfo.request:after {
    background: url(../images/ubi/request.png) no-repeat;
}

.buttonInfo.office:after {
    background: url(../images/ubi/office.png) no-repeat;
}

.buttonInfo.connect:after {
    background: url(../images/ubi/connect.png) no-repeat;
}

.buttonInfo.discount:after {
    background: url(../images/ubi/discount.png) no-repeat;
}

.buttonInfo.sos:after {
    background: url(../images/ubi/sos.png) no-repeat;
}



.payPreview-buttonsOverlay .buttonInfo {
    float: left;
    width: 320px;
    margin: 0 20px 20px 0;
}



.buttonInfo.info:after {
    background: url(../images/ubi/info.png) no-repeat;
}

.buttonInfo.contract:after {
    background: url(../images/ubi/contract.png) no-repeat;
}

.buttonInfo.car:after {
    background: url(../images/ubi/car.png) no-repeat;
}

.buttonInfo.estate:after {
    background: url(../images/ubi/estate.png) no-repeat;
}

.buttonInfo.sos_kasko:after {
    background: url(../images/ubi/sos_kasko.png) no-repeat;
}

.buttonInfo.sos_oscv:after {
    background: url(../images/ubi/sos_oscv.png) no-repeat;
}

.buttonInfo.sos_estate:after {
    background: url(../images/ubi/sos_estate.png) no-repeat;
}

.buttonInfo.sos_health:after {
    background: url(../images/ubi/sos_health.png) no-repeat;
}
